@font-face {
    src: url("PressStart2P-Regular.ttf");
    font-family: "PS2P";
}

body {
    background-color: black;
    color: white;
}

.square {
    width: 40px;
    height: 40px;
    background-color: black;
    float: left;
    font-family: "PS2P";
}

.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 40%; 
    height: 12px;  
    background: #444444;
    outline: none; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: white; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: white; 
    cursor: pointer; 
  }

button {
    background-color: #444444;
    color: white;
    font-size: 20px;
    font-family: "PS2P";
}

#board {
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 640px;
    border: 5px solid gray;
}

#pause {
    display: none;
    background-color: #222222;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 120px;
    font-family: "PS2P";
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
}

#retry {
    width: 130px;
    height: 50px;
}

#settings_go {
    width: 200px;
    height: 50px;
}

#game_over {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 300px;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #222222;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    font-family: "PS2P";
}

#settings {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 430px;
    height: 330px;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #222222;
    color: white;
    text-align: left;
    font-size: 20px;
    padding: 50px;
    padding-top: 5px;
    font-family: "PS2P";
}

#apply {
    width: 130px;
    height: 40px;
}

#close_set {
    width: 130px;
    height: 40px;
}

#reset {
    width: 130px;
    height: 40px;
}

input {
    float: right;
}
